<div class="container">
<h2>My favourites</h2>
<% @favourite_doctors.each do |doctor| %>
 <div class="col-md-6">
    <div class="card mb-3">
      <% if doctor.photo.attached? %>
        <%= cl_image_tag doctor.photo.key, class: "card-img-top img-fluid rounded ", alt: "Doctor Image" %>
      <% else %>
        <%= image_tag "blank-profile-circle.png", class: "card-img-top img-fluid rounded " %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title mb-1">Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %></h5>
        <p class="card-text text-muted mb-2"><i class="fa-sharp fa-regular fa-stethoscope"></i> <%= doctor.specialty %></p>
        <p class="card-text text-muted mb-2"><i class="fa-sharp fa-regular fa-location-dot"></i> <%= doctor.practice_address %></p>
        <hr>
          <%= link_to "View Doctor", doctor_profile_path(doctor), class: "btn btn-primary" %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
