<div class="cards-container">
  <%= @doctor_profiles.each do |doctor|%>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <h2>Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %></h2>
        <p><%= doctor.specialty %></p>
      </div>
      <%= link_to "Show more...", doctor_profile_path(doctor) %>
    </div>
  <% end %>
  </div>
