<div class="container">
<h1><%=@doctor_profile_user.first_name %></h1>

<div class="card-product">
  <%= image_tag "https://xsgames.co/randomusers/avatar.php?g=male", class: "avatar-large" %>
  <div class="card-product-infos">
    <h3><%=@doctor_profile_user.first_name %></h3>
    <p><%=@doctor_profile.specialty %></p>
    <p><%=@doctor_profile_user.phone_number %></p>
    <p><%=@doctor_profile.practice_address %></p>
    <%= link_to "Book appointment", new_doctor_profile_appointment_path(@doctor_profile), class: "button"%>
  </div>
</div>


</div>
