<div class="container">

  <div class="wrapper">
    <div class="card-product first-wrap">
    <% if @doctor_profile.photo.attached? %>
      <%= cl_image_tag @doctor_profile.photo.key, class:"avatar-large"%>
    <% else %>
      <%= image_tag "blank-profile-circle.png", class:"avatar-large" %>
    <% end %>
      <div class="card-product-infos">
        <h2><%=@doctor_profile.user.first_name %></h2>
        <p><%=@doctor_profile.specialty %></p>
        <p><%=@doctor_profile.user.phone_number %></p>
        <p><%=@doctor_profile.practice_address %></p>
        <% if current_user.favourites.exists?(doctor_profile_id: @doctor_profile.id) %>
          <%= button_to "Remove from favourites", doctor_profile_favourite_path(current_user.favourites.find_by(doctor_profile_id: @doctor_profile.id)), method: :delete %>
        <% else %>
          <%= button_to "Add to favourites", doctor_profile_favourites_path(doctor_profile_id: @doctor_profile.id), method: :post %>
        <% end %>
      </div>
    </div>
    <div class="second-wrap">
      <%= simple_form_for [@doctor_profile, @appointment] do |f| %>
        <%= f.input :date, label: 'Date' %>
        <%= f.input :start_time, label: 'Start_time' %>
        <%= f.input :end_time, label: 'End_time' %>
        <%= f.input :note, label: 'Reason for appointment' %>
        <%= f.button :submit, class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
</div>
