<div class="banner">
  <div class="container">
    <div class="">
      <h1>Find the right
        <br />
        healthcare provider
        <br />
        for you
      </h1>
    </div>
      <div class="search-bar">
        <%= form_with method: :get, class: "search" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Specialty"
          %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Location"
          %>
          <%= submit_tag "Search", class: "button", type: 'submit' %>
        <% end %>
      </div>
  </div>
</div>

<div class="container">
  <div class="" >
    <div class="card-grid">
    <% @doctor_profiles.each do |doctor|%>
      <%= link_to doctor_profile_path(doctor) do%>
      <div class="home">
        <div class="">
        <% if doctor.photo.attached? %>
            <%= cl_image_tag doctor.photo.key, class: "avatar-medium", alt: "doctor" %>
            <% else %>
              <%= image_tag "blank-profile-circle.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="card-body">
              <h5 class="name"><i class="fa-solid fa-user-doctor"></i> Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %></h5>
              <p class="specialty"><i class="fa-solid fa-briefcase"></i> <%= doctor.specialty %></p>
              <p class="address"><i class="fa-solid fa-location-dot"></i><%= doctor.practice_address.slice(0, 20)  %></p>
              </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div id="map sticky-top">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
