<div class="container">
<div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_with method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a doctor"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<div class="row mt-10" >
  <div class="col-md-6">
   <% @doctor_profiles.each do |doctor|%>
    <div class="col-md-6">
    <div class="card mb-3">
      <%= image_tag "doc1.png", class: "card-img-top img-fluid rounded ", alt: "Doctor Image" %>


            <div class="card-body">
        <h5 class="card-title mb-1">Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %></h5>
        <p class="card-text text-muted mb-2"><strong>Specialty:</strong> <%= doctor.specialty %></p>
        <p class="card-text text-muted mb-2"><strong>Location:</strong> <%= doctor.practice_address %></p>

        <hr>
           <%= link_to "View Doctor", doctor_profile_path(doctor), class: "btn btn-primary" %>
                </div>
      </div>
    </div>
     <% end %>
  </div>
  <div class="col-md-6">
    <div id="map sticky-top">
    <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
    </div>
  </div>
</div>
</div>
