<h1> My Appointments </h1>

<h3> Logged in as <%= current_user.first_name %> </h3>
<p> user id = <%= current_user.id  %> </p>
<ol>
  <% @appointments.each do |appointment|%>
    <li>
        Appointment date: <%= appointment.date %> ,
        Appointment time: <%= appointment.start_time %> ,
        With Dr <%= appointment.doctor_profile.user.first_name%>
    </li>
      <%= link_to "View Appointment", appointment_path(appointment) %>
  <% end %>
</ol>
