<<<<<<< HEAD
<h1> My Appointments </h1>

<h3> Logged in as <%= current_user.first_name %> </h3>
<p> user id = <%= current_user.id  %> </p>

<div class="cards">
    <% @appointments.each do |appointment| %>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <li>
            Appointment date: <%= appointment.date %> ,
            Appointment time: <%= appointment.start_time %> ,
            With Dr <%= appointment.doctor_profile.user.first_name%>
          </li>
        </div>
      <% end %>
    <% end %>
  </div>



<div class="cards">
    <% @appointment.each do |appointment| %>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= appointment.user.doctor_profile_id %>
        </div>
      <% end %>
    <% end %>
  </div>


<ol>
  <% @appointments.each do |appointment|%>
    <li>
        Appointment date: <%= appointment.date %> ,
        Appointment time: <%= appointment.start_time %> ,
        With Dr <%= appointment.doctor_profile.user.first_name%>
    </li>
      <%= link_to "View Appointment", appointment_path(appointment) %>
  <% end %>
</ol>
=======
<h1> Appointments index </h1>

<ol>
  <% @appointments.each do |appointment|%>
    <li> <%= appointment.date %>
         <%= appointment.start_time  %>
         <%= appointment.user_id%> </li>
          <%# do from user profile page - devise; I want to access the name of this user_id. or better interpolate "Dr #{last_name} -  #{specialty}%>
  <% end %>
</ol>
<%# <br>

<%= link_to "This specific appt", appointment_path %>
>>>>>>> cc75ab833274ea1683890d47e3d5d8b7255f6d9c
