    <h3> Logged in as:<%= current_user.first_name %> </h3>
      <p> user id: = <%= current_user.id  %> </p>
      <%# can delete the logged in as details before completion %>

<div class="container">

  <h1> My Appointments </h1>

  <% if @appointments.empty? %>
  <h2>Upcoming appointments with Doctors: </h2>
    <h3>You have no upcoming appoinments</h3>
    <p>****************************************************************************</p>
 <% else  %>
  <h2>Upcoming appointments with Doctors: </h2>
    <% @appointments.each do |appointment|%>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-appointment">
          <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
          <%# this image source should totally be from the dr_users_profile pic - linked - not static to this card %>
            <div class="card-appointment-infos">
              <h2>With Dr <%= appointment.doctor_profile.user.last_name%>, for <%= appointment.doctor_profile.specialty  %></h2>
                <p>Appointment date: <%= appointment.date %></p>
                <p>Appointment time: <%= appointment.start_time %></p>
                <h6>Appointment address: <%= appointment.doctor_profile.practice_address %></h6>
            </div>
            <div class="card-appointment-contact">
              <h6>email: <%= appointment.doctor_profile.user.email%></h6>
              <h6>Phone no : <%= appointment.doctor_profile.user.phone_number%></h6>
            </div>
        </div>
        <% end %>
      <% end %>
<% end %>

 <% if @doctor_appointments.empty? %>
  <h2>Upcoming appointments with Patients: </h2>
    <h3>You have no upcoming appoinments</h3>
 <% else  %>
  <h2>Upcoming appointments with Patients: </h2>
    <% @doctor_appointments.each do |appointment|%>
      <%= link_to appointment_path(appointment) do %>
        <div class="card-appointment">
          <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
          <%# this image source should totally be from the dr_users_profile pic - linked - not static to this card %>
          <div class="card-appointment-infos">
            <h2>With Patient <%= appointment.user.first_name%> <%= appointment.user.last_name%></h2>
            <%# " With Patient appointment.user.first_name and appointment.user.last_name, for appointment.special_notes "" %>
              <p>Appointment date: <%= appointment.date %></p>
              <p>Appointment time: <%= appointment.start_time %></p>
          </div>
          <div class="card-appointment-contact">
              <h6>email: <%= appointment.user.email%></h6>
              <h6>Phone no : <%= appointment.user.phone_number%></h6>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
