<<<<<<< HEAD
<div class="container">
  <h1> Appointments </h1>
  <div class="wrapper">
    <div class="">
      <div class="card-product first-wrap">
        <img src="https://xsgames.co/randomusers/avatar.php?g=male">
        <div class="card-product-infos">
          <% @user.each do | user | %>
            <p>Name: <%=user.first_name %></p>
            <p>Email: <%=user.email %></p>
            <p>Phone: <%=user.phone_number %></p>
            <p>Address: <%=user.address %></p>
          <% end %>
            <% @appointments.each do |appointment|%>
              <p>Date: <%= appointment.date %></p>
              <p>From: <%= appointment.start_time %></p>
              <p>To: <%= appointment.end_time %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
=======

<div class="container">

<h1> My Appointments </h1>

<h3> Logged in as <%= current_user.first_name %> </h3>
<p> user id = <%= current_user.id  %> </p>
<ol>
  <% @appointments.each do |appointment|%>
    <%= link_to appointment_path(appointment) do %>
      <div class="card-appointment">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-appointment-infos">
            <h2>With Dr <%= appointment.doctor_profile.user.first_name%></h2>
              <p> Appointment date: <%= appointment.date %></p>
              <p>Appointment time: <%= appointment.start_time %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

>>>>>>> master
</div>
