<div class="wrapper">
  <div class="container">
    <h2 class="header">My Appointments</h2>
      <h4 class="header">Upcoming Appointments</h4>
      <%# upcoming appts %>
      <div class="wrapper">
      </div>
        <div class="card-product">
        <div class="home">
            <% if @appointments.empty? %>
            <h2>Upcoming appointments with Doctors: </h2>
            <% else  %>
                <% @appointments.each do |appointment|%>
                  <%= link_to appointment_path(appointment) do %>
                    <div class="home">
                      <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
                        <div class="avatar">
                          <p class="name"><%= appointment.doctor_profile.user.last_name%>, for <%= appointment.doctor_profile.specialty  %></p>
                            <p class="name">Appointment date: <%= appointment.date %></p>
                            <p class="specialty">Appointment time: <%= appointment.start_time %></p>
                            <p class="specialty">Appointment address: <%= appointment.doctor_profile.practice_address %></p>
                        </div>
                    </div>
                    <% end %>
                  <% end %>
            <% end %>
        </div>
        </div>
        <div>
      </div>
  </div>
</div>

</div>
