<h1> This Appointment: </h1>

<h3> Logged in as <%= current_user.first_name %> </h3>
<p> <%= current_user.first_name %>'s user id is <%= current_user.id  %> </p>

<br>

<h1> PHOTO PLACE HOLDER </h1>

<br>

<h3> Appointment details: </h3>
<br>
<h4> Date: <%= @appointment.date %> </h4>
<h4> Start Time: <%= @appointment.start_time %> </h4>
<h4> Duration: <%= @appointment.end_time.to_i - @appointment.start_time.to_i %> hours </h4>
<h4> with: Dr <%= @appointment.doctor_profile.user.last_name %>,  <%= @appointment.doctor_profile.specialty %> </h4>
<h4> Address:  <%= @appointment.doctor_profile.practice_address %> </h4>
